@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #fbff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #fbff00 100%);
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

[data-bs-theme="light"] {
    --bs-secondary: #fbff00;
    --bs-secondary-rgb: 225, 229, 128;
}

[data-bs-theme="dark"] {
    /*Background*/
    --bs-body-bg: #000 !important;
    --bs-secondary: #fbff00 !important;
    --bs-secondary-rgb: 251, 255, 0 !important;

    .text-gradient {
        background: -webkit-linear-gradient(315deg, #5078ff 15%, #fbff00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bg-gradient-primary-to-secondary {
        background: #5078ff;
        background: linear-gradient(135deg, #5078ff 0%, #fbff00 100%);
    }

    .text-primary {
        color: #6ea8fe !important;
    }

    .btn-primary {
        background: linear-gradient(135deg, #5078ff 15%, #C2C501 100%) !important;
        color: #000 !important;
    }

    .btn-outline-dark {
        color: #C2C501;
        border-color: #C2C501 !important;
    }
}